# Grafana Datasources Provisioning
# Auto-configures Prometheus and Loki datasources

apiVersion: 1

datasources:
  # Prometheus datasource
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    version: 1

  # Loki datasource
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "request_id=(\\w+)"
          name: RequestID
          url: "$${__value.raw}"
    version: 1
